<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Záměrně bez oprávnění INTERNET. -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/kspol_logo"
        android:label="+K spol. STABLE RESET v8 STEP 2"
        android:roundIcon="@drawable/kspol_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
